{% extends 'base.html.twig' %}

{% block title %}Mes lectures terminées - Bateau Livre{% endblock %}

{% block body %}

    <div class="container pt-4">

        <h2 class="mt-4 pt-3 font-regular">Lecture du Moment</h2>

        <div class=" pt-3 container d-flex flex-wrap">
            {% for book in finishedBooks %}
                <div class="card-book mb-3" style="width: 22rem;">
                    <div class="m-3 d-flex flex-column">
                        <div class="d-flex flex-nowrap justify-content-between">
                            <h5 class="font-regular">{{ book.getBook().title }}</h5>
                            <a href="{{ path('edit_reading', { id_book: book.getBook().id, id_readingStatus: book.id}) }}">
                                <i class="fas fa-book fa-lg color-fourth"></i></a>
                        </div>
                        <h6 class="font-regular">{{ book.getBook().author }}</h6>
                        <div class="d- flex-row flex-wrap">
                            <span class=" p-2 mb-2 badge badge-pill badge-success font-regular">Terminé</span>
                            <span class="ml-2 font-regular ">Terminé le {{ book.startedAt|date('d/m/Y') }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}