{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}
<div class="container">
    <h1 class="font-regular">Mon espace</h1>

    <h2 class="font-regular">Dernières lectures</h2>

    {{ dump(lastBooks) }}
    {% for book in lastBooks %}
        {{ dump(book.getBooks()) }}
    {% endfor %}

    <div class="d-flex flex-wrap justify-content-center">
        <a class="btn-brown font-regular mt-4 px-2 mx-auto">
            Voir mes lectures
        </a>

        <a class="btn-brown font-regular mt-4  px-2 mx-auto">
            Voir mes lectures terminées
        </a>

        <a class="btn-brown font-regular mt-4 px-2 mx-auto">
            Voir mes listes
        </a>
    </div>
    <div class="d-flex flex-wrap mt-4 mt-4  justify-content-center">

        <a class="btn-brown font-regular px-2 mx-auto">
            Ma bibliothèque virtuelle
        </a>

        <a class="btn-brown font-regular mt-4 px-2 mx-auto">
            Modifier mon profil
        </a>
    </div>
</div>

{% endblock %}
